body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.row {
    overflow: hidden;
}

.col {
    position: relative;
    height: 150vh;
    margin-bottom: 120vh;
    background-color: #ccc;
    width: 100%;
}

.col.off {
    margin-top: 120vh;
    margin-bottom: 20px;
}

.sticky-element {
    background-color: greenyellow;
    overflow: hidden;
    box-sizing: border-box;
}

.small .sticky-element {
    background-color: lightskyblue;
    height: 50vh;
}

.large .sticky-element {
    background-color: deepskyblue;
    height: 120vh;
}

.debug {
    background-color: red;
    color: white;
    padding: 5px 10px;
}

.demo {
    display: flex;
    justify-content: space-around;
}

.demo .col {
    border: solid 2px red;
    padding: 2px;
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
}

/*
This is needed for testing!
*/
#ember-testing-container {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    height: auto !important;
}

#ember-testing {
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
}
